<div id="left-box">
	<h2>Mission Statement</h2>
	<p>
	The role of the Campus Sustainability Council (CSC) is to provide funding to registered UCSC student organizations for programs and events that create, implement, and monitor environmentally sound practices on campus as established through the protocol outlined in the Blueprint for a Sustainable Campus. These organizations additionally facilitate greater collaboration between students, the administration, staff, faculty, and the community.
	</p>
	<div id="info-panel" class='clearfix'>
		<div id="updates" class='infobox'>
			 <% StatusUpdateGoogle.fetchAll.each do |update| %>
			  <div class='update-date'><%= update.date.to_date.to_s  %></div>
			  <div class='update-content'><%= update.content %></div>
			  <p>
			<% end %>
		</div>
		<div id="meetings" class='infobox'>
	    Campus Sustainability Council Meetings have been set for Monday Nights from <p><br>
		<b><%= "7:30-9:30pm" %></b><br>
	    <i>located in</i> <br>
	    <b><%= "College Eight, Room 301" %></b>
		</div>
	</div>	
</div>
<div id="right-box">
	<div id="timeline" class='infobox'>
		<%= content_tag "div", id: "timeframes", data: {url: TimeFrameGoogle.allForTimeline } do %>
		<% end %>
		<p id='timeline-title'>CSC Timeline</p>
		<div id="date-frame">
		</div>
		<div id="donut"></div>
		<div id="description">
			<p id="name">Off Season</p>
			<p id="content">The CSC is currently training new members and preparing for the winter application season!</p>
		</div>
	</div>	
</div>

	