<% VotingMember.all.each do |member| %>
<div class="members">
	<div class="well">
		<div class="profile-pic">
			<%= image_tag member.profile_picture.url(:medium), :class => 'circular'%>
		</div>
		<div id="name-box">
			<%= member.first_name + ' ' + member.last_name%>
		</div>
		<div class="member-desctiption">
			<%= member.description %>
		</div>
		
	    <%= form_for(member, method: :delete, data: { confirm: 'Are you sure?' }) do %>
		  <button type="submit" class="btn btn-default btn-sm">
		    <span class="glyphicon glyphicon-star"></span> Remove
		  </button>
		<% end %>
	</div>
</div>
<% end %>

<div id="create_new_member">
	<%= render 'form' %>
</div>
