<!DOCTYPE html>
<html>
<head>
  <title>Csc</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class style="margin-bottom: 100px;">

	<div id="menu-container">
		<%= image_tag "redwood.jpg"%>
		<nav class="navbar navbar-inverse transparent">
            <div class="container">
				<%= render_navigation level: 1..2, expand_all: true %>
            </div>
		</nav>
	</div>

<div id="content" style='font-family: sans-serif'>
<%= yield %>	
</div>

<div id="imp">
	
</div>

</body>
</html>
