<!DOCTYPE html>
<html>
<head>
  <title>Csc</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class style="margin-bottom: 100px;">

	<div id="menu-container">
		<%= image_tag "redwood.jpg"%>
		<div id="title">
			Campus <p style="text-indent: 2em;"> Sustainability </p>   
			<p style="text-indent: 4em;"> Council </p>
		</div>
		<nav class="navbar navbar-inverse transparent">
            <div class="container">
				<style type="text/css" media="screen">
				ul.nav > li {
					font-size:	10pt;
				}
				</style>
				<%= render_navigation level: 1..2, expand_all: true %>
            </div>
		</nav>
	</div>

<div id="content" class='clearfix'>
<%= yield %>	
</div>

<div id="imp">
	
</div>

</body>
</html>
