<!DOCTYPE html>
<html>
<head>
  <title>Csc</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script type="text/javascript" src="https://rawgithub.com/morr/jquery.appear/master/jquery.appear.js"></script>
  <%= csrf_meta_tags %>
<script type="text/javascript">
	$(function(){
		$('#kenburns').kenburns({
			images:['<%= asset_path('meadow.jpg') %>', '<%= asset_path 'redwood.jpg' %>', 
			        '<%= asset_path 'seaview.jpg' %>', '<%= asset_path 'spring.jpg' %>', '<%= asset_path 'sunflower.jpg' %>'],
			frames_per_second: 40,
			display_time: 13000,
			fade_time: 1000,
			zoom: 1.2,
			background_color:'#ffffff'
		});				
	});
</script>
</head>
<body class style="margin-bottom: 100px;">
<div id="web-content">
	<div id="menu-container">
		<!-- <%= image_tag ['meadow.jpg', 'redwood.jpg', 'seaview.jpg', 'spring.jpg', 'sunflower.jpg'].sample %> -->  <div id="images">
			<canvas id="kenburns" width="770" height="288">
				<p>Your browser doesn't support canvas!</p>
			</canvas>
		</div>
		<div id="title">
			Campus <p style="text-indent: 2em;"> Sustainability </p>   
			<p style="text-indent: 4em;"> Council </p>
		</div>
		<div id="menu">
		<nav class="navbar navbar-inverse transparent">
            <div class="container">
				<style type="text/css" media="screen">
				ul.nav > li {
					font-size:	10pt;
					float: left;
				}
				</style>
				<%= render_navigation level: 1..2, expand_all: true %>
            </div>
		</nav>
		</div>
	</div>
<div id="content" class='clearfix'>
<%= yield %>	
</div>

<div id="imp" class='sexy_line'>
</div>
	<div id="footer">
	If you are interested in the CSC, we recommend that you come to one of our meetings. If there is something about our organization which you feel is unclear or we have missed as far as informational transparency upon our website, please feel free to contact us with your questions or concerns.  Thank you for your interest in CSC. 
</div>

<%= image_tag 'csc-logo.png', :style => 'height: 50px; float: right;' %>
	
</div>

</body>
</html>
